@font-face {
    font-family: "Consolas";
    src: url(http://iairu.com/src/fonts/consola.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Consolas";
    src: url(http://iairu.com/src/fonts/consolab.ttf);
    font-weight: bold;
}
* {
	box-sizing: border-box;
	text-decoration: none;
}
html,body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body {
	font-family: "Consolas", monospace;
	color: rgba(0,0,0,0.5);
	font-size: 12px;
	padding: 15px;
	margin: auto;
	background: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-color: #16303c;
	a {color: rgba(0,0,0,0.5);}
}

$content-width: 1700px;
$border-radius: 15px;

header {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: $content-width;
	justify-content: space-between;
	align-items: center;
	padding: 20px 35px;
	z-index: 999;
	span {color: rgba(0,0,0,0.5);}
	a {color: rgba(0,0,0,0.5);}
	&.dark {
		a {color: rgba(255,255,255,1);}
		span {color: rgba(255,255,255,0.5);}
		color: white;
	}
	a.logo>img {
		width: 40px;
		opacity: 0.5;
	}
	a.logo:hover>img {
		opacity: 1;
	}
	/*a.logo:after {  --- disabled because of positioning inconsistencies
		content: "airu";
		color: black;
		text-align: center;
		display: none;
		position: absolute;
		margin-left: 60px;
		width: 50px;
		height: 15px;
		border-radius: 5px;
		background: rgba(255,255,255,0.5);
	}
	a.logo:hover:after {
		display: block;
	}*/
	&.dark a.lb{
		border-left: 1px solid rgba(255,255,255,0.25);
		color: rgba(255,255,255,0.5);
	}
	&.dark a.rb{
		border-right: 1px solid rgba(255,255,255,0.25);
		color: rgba(255,255,255,0.5);
	}
	a.lb{
		border-left: 1px solid rgba(0,0,0,0.25);
		color: rgba(0,0,0,0.25);
		padding-left: 5px;
		margin-left: 5px;
	}
	a.rb{
		border-right: 1px solid rgba(0,0,0,0.25);
		color: rgba(0,0,0,0.25);
		padding-right: 5px;
		margin-right: 5px;
	}
	&.dark a.lb:hover,&.dark a.rb:hover {
		color: white;
	}
	a.lb:hover, a.rb:hover {
		color: black;
	}
	a.active {
		display: flex;
		color: white;
		background: black;
		padding: 0 5px;
		border-radius: 5px;
		opacity: 0.5;
	}
    &.dark a.active {
		color: black;
		background: white;
    }
	a.active:hover {
		opacity: 1;
	}
	@media screen and (max-width: $content-width) {
		left: 0;
		width: 100%;
	}
	div, div * {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
a.section {
    display: block;
    margin: 25px auto;
    padding: 0;
	max-width: $content-width;
    overflow: hidden;
    section {
        margin: 0;
    }
    section.promo {
		border: 1px solid rgba(116, 116, 116, 0.71);
    }
    /*section.dark {
        h2 {
            border: 1px solid rgba(255,255,255,0);
            padding: 0 5px;
            border-radius: 5px;
        }
    }
    &:hover section.dark {
        h2 {
            border: 1px solid rgba(255,255,255,0.15);
            background: rgba(255,255,255,0.05);
        }
    }*/
    &:hover section.promo:after {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 1px solid rgba(0,0,0,0.25);
        border-radius: 10px;
        @media (pointer: coarse) {
            display: none;
        }
    }
    &:hover section.promo.dark:after {
        border: 1px solid rgba(255,255,255,0.25);
    }
}
section {
	width: 100%;
	max-width: $content-width;
	display: flex;
    position: relative;
	margin: 0 auto;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
	overflow: hidden;
	&.title {
		opacity: 0.5;
		height: 50%;
		justify-content: center;
		align-items: center;
		background-image: url("../img/logo-w.svg");
		background-repeat: no-repeat;
		background-size: 50%;
		@media screen and (max-width: 900px) {
			background-size: 70%;
		}
		@media screen and (max-width: 500px) {
			background-size: 90%;
		}
		background-position: center;
		.slider {
			display: flex;
			position: absolute;
			bottom: 20px;
			align-items: center;
			flex-direction: column;
		}
	}
	&.basic {
		align-items: center;
		background: rgba(255,255,255,0.75);
		min-height: 50px;
		flex-wrap: wrap;
		margin: 25px auto;
		border-radius: $border-radius;
		border: 1px solid rgba(0,0,0,0.25);
	}
	.button-nav {
		display: flex;
		width: 100%;
		justify-content: space-around;
		flex-wrap: wrap;
		padding-bottom: 30px;
	}
    a {
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 5px;
        padding: 0 5px;
        &:hover {
            background: rgba(0,0,0,0.05);
        }
    }
    &.dark a {
        border: 1px solid rgba(255,255,255,0.15);
        border-radius: 5px;
        padding: 0 5px;
        &:hover {
            background: rgba(255,255,255,0.05);
        }
    }
	a.thumb {
		display: inline-block;
		position: relative;
        padding: 0;
		width: 250px;
		height: 150px;
		margin: 20px 20px 0px 0px;
		background: rgba(0,0,0,0.05);
		border: 1px solid rgba(0,0,0,0.25);
		border-radius: $border-radius;
        overflow: hidden;
		@media screen and (max-width: 400px) {
			margin: 20px 0 0 0;
		}
		img {
			width: 100%;
			height: 100%;
		}
        &:hover:after {
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border: 1px solid rgba(0,0,0,0.45);
            border-radius: 10px;
            @media (pointer: coarse) {
                display: none;
            }
        }
        &.dark:hover:after {
            border: 1px solid rgba(255,255,255,0.25);
        }
	}
	a.button {
		position: relative;
		min-width: 200px;
		padding: 0 15px;
		height: 50px;
		margin: 20px 20px 0px 0px;
		background: rgba(0,0,0,0.1);
		border: 1px solid rgba(0,0,0,0.25);
		box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.25);
		border-radius: $border-radius;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@media screen and (max-width: 400px) {
			font-size: 10px;
			margin: 20px 0 0 0;
		}
		&.disabled {
			color: rgba(0,0,0,0.25);
		    border: 1px solid rgba(255,255,255,0.25);
		}
		&:hover {
			background: rgba(0,0,0,0.04);
		}
	}
	span {color: rgba(0,0,0,0.25);}
	h2 {
		padding: 0;
		margin: 0 auto 0 0;
		font-size: 14px;
		color: rgba(0,0,0,0.5);
		a {color: rgba(0,0,0,0.25);}
	}
	&.dark {
		background: rgba(0,0,0,0.25);
		border: 1px solid rgba(0,0,0,0.25);
		span {color: rgba(255,255,255,0.25);}
		h2 {
			color: rgba(255,255,255,0.5);
			a {color: rgba(255,255,255,0.25);}
		}
		a.button {
			color: white;
			background: rgba(255,255,255,0.05);
			border: 1px solid rgba(255,255,255,0.1);
			&.disabled {
				color: rgba(255,255,255,0.25);
			    border: 1px solid rgba(0,0,0,0.25);
			}
			&:hover {
				background: rgba(255,255,255,0.1);
			}
		}
	}
	&.promo {
        display: block;
		height: 550px;
		background: url("../img/promo.jpg") no-repeat center;
		background-size: 120%;
		align-items: flex-start;
		@media screen and (max-width: 900px) {
			background-size: 200%;
		}
		@media screen and (max-width: 600px) {
			background-size: 400%;
		}
	}
	iframe {
		width: 100%;
		height: 100%;
	}
	&.nopadding {
		padding: 0;
	}
}
footer {
	height: 40px;
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
    color: white;
	opacity: 0.5;
	max-width: $content-width;
    img {
        height: 15px;
        padding: 0 10px;
    }
	a {
        color: white;
        border-radius: 5px;
        padding: 0 5px;
        border: 1px solid rgba(255,255,255,0.25);
        &:hover {
            background: rgba(255,255,255,0.15);
        }
    }
}
.row {
    flex-direction: row;
}

.snslinks {
    margin: 0 0 0 auto;
}
h2 a {
    display: inline-block;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 2px 0;
}
$split-trigger-width: 1000px;
.split {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
    @media screen and (min-width: $split-trigger-width) {
        .promo {
            background-size: 200%;
        }
        height: 570px;
    }
    @media screen and (max-width: $split-trigger-width) {
        flex-direction: column;
        &>.image {
            padding-bottom: 55px;
        }
    }
    a {
        border: none;
        background: none;
        &:hover {
            background: none;
        }
    }
    &>.image {
        margin: auto;
        width: 50%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        border-radius: $border-radius;
        margin: 0 25px 0 auto;
        @media screen and (max-width: $split-trigger-width) {
            /*display: none;*/
            width: 100%;
            height: 250px;
        }
        .border-fade {
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px 0px 50px 70px rgba(38,38,38,1);
        }
        /*img {
            width: 100%;
            height: 100%;
        } - causes too much distortion */
    }
    &>.section, &>section {
        position: relative;
        width: 50%;
        margin: 0;
        @media screen and (max-width: $split-trigger-width) {
            width: 100%;
        }
    }
}
