section.title {
  max-height: 50%;
  background: url("../img/zrada/zrada-logo-jp.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%; }

section.promo {
  background: url("../img/zrada/promo.jpg") no-repeat center;
  background-size: 120%; }
  @media screen and (max-width: 900px) {
    section.promo {
      background-size: 200%; } }
  @media screen and (max-width: 600px) {
    section.promo {
      background-size: 400%; } }
