@font-face {
    font-family: "Consolas";
    src: url(http://iairu.com/src/fonts/consola.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Consolas";
    src: url(http://iairu.com/src/fonts/consolab.ttf);
    font-weight: bold;
}
* {
	box-sizing: border-box;
	text-decoration: none;
}
html,body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body {
	font-family: "Consolas", monospace;
	color: rgba(0,0,0,0.5);
	font-size: 12px;
	padding: 15px;
	margin: auto;
	background: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-color: #16303c;
	a {color: rgba(0,0,0,0.5);}
}

$content-width: 1700px;
$border-radius: 15px;

header {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: $content-width;
	justify-content: space-between;
	align-items: center;
	padding: 20px 35px;
	z-index: 999;
	span {color: rgba(0,0,0,0.5);}
	a {color: rgba(0,0,0,0.5);}
	&.dark {
		a {color: rgba(255,255,255,1);}
		span {color: rgba(255,255,255,0.5);}
		color: white;
	}
	a.logo>img {
		width: 40px;
		opacity: 0.5;
	}
	/*a.logo:after {
		content: "airu";
		color: black;
		text-align: center;
		display: none;
		position: absolute;
		margin-left: 60px;
		width: 50px;
		height: 15px;
		border-radius: 5px;
		background: rgba(255,255,255,0.5);
	}
	a.logo:hover:after {
		display: block;
	}*/
	@media screen and (max-width: $content-width) {
		left: 0;
		width: 100%;
	}
	div, div * {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
section {
	width: 100%;
	max-width: $content-width;
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
	overflow: hidden;
	&.title {
		opacity: 0.5;
		height: 50%;
		justify-content: center;
		align-items: center;
		background-image: url("../img/logo-w.svg");
		background-repeat: no-repeat;
		background-size: 50%;
		@media screen and (max-width: 900px) {
			background-size: 70%;
		}
		@media screen and (max-width: 500px) {
			background-size: 90%;
		}
		background-position: center;
		.slider {
			display: flex;
			position: absolute;
			bottom: 20px;
			align-items: center;
			flex-direction: column;
		}
	}
	&.basic {
		align-items: center;
		background: white;
		min-height: 50px;
		flex-wrap: wrap;
		margin: 25px auto;
		border-radius: $border-radius;
		border: 1px solid rgba(0,0,0,0.25);
	}
	.button-nav {
		display: flex;
		width: 100%;
		justify-content: space-around;
		flex-wrap: wrap;
		padding-bottom: 30px;
	}
	a.thumb {
		display: inline-block;
		position: relative;
		width: 250px;
		height: 150px;
		margin: 20px 20px 0px 0px;
		background: rgba(0,0,0,0.05);
		border: 1px solid rgba(0,0,0,0.25);
		border-radius: $border-radius;
		overflow: hidden;
		@media screen and (max-width: 400px) {
			margin: 20px 0 0 0;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	a.button {
		position: relative;
		min-width: 200px;
		padding: 0 15px;
		height: 50px;
		margin: 20px 20px 0px 0px;
		background: rgba(0,0,0,0.1);
		border: 1px solid rgba(0,0,0,0.25);
		box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.25);
		border-radius: $border-radius;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@media screen and (max-width: 400px) {
			font-size: 10px;
			margin: 20px 0 0 0;
		}
		&.disabled {
			color: rgba(0,0,0,0.25);
		}
		&:hover {
			background: rgba(0,0,0,0.04);
		}
	}
	span {color: rgba(0,0,0,0.25);}
	h2 {
		width: 100%;
		padding: 0;
		margin: 0;
		font-size: 14px;
		color: rgba(0,0,0,0.5);
		a {color: rgba(0,0,0,0.25);}
	}
	&.dark {
		background: rgba(0,0,0,0.25);
		border: 1px solid rgba(0,0,0,0.25);
		span {color: rgba(255,255,255,0.25);}
		h2 {
			color: rgba(255,255,255,0.5);
			a {color: rgba(255,255,255,0.25);}
		}
		a.button {
			color: white;
			background: rgba(255,255,255,0.05);
			border: 1px solid rgba(0,0,0,0.25);
			&.disabled {
				color: rgba(255,255,255,0.25);
			}
			&:hover {
				background: rgba(255,255,255,0.1);
			}
		}
	}
	&.promo {
		height: 550px;
		background: url("../img/promo.jpg") no-repeat center;
		background-size: 120%;
		align-items: flex-start;
		@media screen and (max-width: 900px) {
			background-size: 200%;
		}
		@media screen and (max-width: 600px) {
			background-size: 400%;
		}
	}
	iframe {
		width: 100%;
		height: 100%;
	}
	&.nopadding {
		padding: 0;
	}
}
.tdn {text-decoration: none;}
footer {
	height: 40px;
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
	max-width: $content-width;
	a {}
}